*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}
.container{
    height: 100%;
    width: 100%;
    display: grid;
    gap : 0.4rem;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4 ,200px);
    background-color: #272020;
}

.item{
    
    height: 100px;
    width: 100px;
    background-color: #2b516a;
    border: 5px solid #f2f2f2;
}

