*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    max-width: 100vw;
    background: #2A7B9B;
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.box
{
    position: relative;
    width: 360px;
    height: 500px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 30px;
}

.box img
{
    
    width: 90%;
    height: 80%px;
    
}

.box2{
    position: relative;
    width: 360px;
    height: 620px;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 0px 0px 30px 0px;
}

.box2 img
{
    
    width: 100%;
    height: 30%;
    
}

.box2 h2
{
    font-size: 1.5rem;
    text-align: center;
    color: #333;
}

.box2 p{
    font-size: 1rem;
    text-align: center;
    color: #666;
    
}

.box2 .planSelection .leftbox
{
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}
.box2 .planSelection .leftbox img
{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

.box2 .planSelection
{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background-color: aquamarine;
   padding: 15px;
   border-radius: 10px;
}

.box2 .proceedBtn
{
    width: 80%;
    padding: 12px;
    background: #2A7B9B;
    color: #fff;
    font-size: 1 rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 15px 20px rgba(0,0,0,0.5);
}

.box2 .Cancel{
    text-decoration: none;
    color: black;
}
