* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

.container {
    max-width: 66vw;
    max-height: 50vh;
    padding: 2rem 1rem;
    margin: 0 auto;
    /* background-color: aqua; */
}

a {
    text-decoration: none;
}

.header_container {
    margin-bottom: 2.8rem;
}

.heading_title {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}

.heading_discp {
    text-align: center;
    max-width: 568px;
    color: gray;
    margin: 0 auto;
}

.main_container {
    display: grid;
    gap: 1.5rem;
    
    /* grid-template-columns: repeat(1, 1fr);
     */
    grid-template-columns: repeat(auto-fit , minmax(350px , 400px));
    justify-content: center;
}
/* 
@media (min-width:768px) {
    .main_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1080px) {
    .main_container {
        grid-template-columns: repeat(3, 1fr);
    }
} */

.card_container {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(56, 56, 56);
    border-radius: 10px;
    overflow: hidden;
}

.card_image_container {
    position: relative;
    overflow: hidden;
    height: 14rem;
}

.card_image {
    object-fit: cover;
    object-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.card_title_container {
    display: flex;
    flex-direction: column;
    /* margin: 1.5rem; */
    padding: 1rem;
}

.card_container:hover .card_image {
    transform: scale(1.1);
    transition-duration: 200ms;
    overflow: hidden;
}

.card_title {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    line-height: 1.5rem;
    margin-bottom: 0.3rem;
}

.card_title:hover {
    color: rgb(91, 91, 209);
}

.card_description {
    color: gray;
    font-weight: 300;
}

.card_footer_container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.author_container {
    display: flex;
    align-items: center;
    gap: 1rem;
    /* margin-bottom: 1rem;
    margin-left: 1rem; */
}

.author_avatar_container {
    /* height: rem; */
    width: 2.5rem;
    overflow: hidden;
    border: 1px solid rgb(76, 76, 76);
    border-radius: 50%;
    background-color: rgb(158, 158, 158);
}

.author_info {
    display: flex;
    flex-direction: column;
}

.Tag_container {
    font-weight: 500;
    border: 1px solid black;
    border-radius: 5px;
    height: 1.5rem;
    margin-right: 1rem;
    padding: 0.2rem;
}