* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #606c38;
}

.Container{
    width: 100vw;
    height: 100vh;
    overflow-x: none;
    
}

.navContainer {
    width: 100vw;
    min-height: 80px;
    background-color: #283618;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    
}

#NavList {
    list-style-type: none;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

#WebName {
    font-size: 2.5rem;
    margin-left: 5rem;
    color: #fefae0;
}

#NavLinks {
    display: flex;
    gap: 5rem;
    margin-right: 10rem;
    
}

a{
    text-decoration: none;
    color: #fefae0;
}

/* main{
    display: flex;
    justify-content: center;
    align-items: center;
    
} */

.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    font-size: 1.5rem;
    width : 70%;
    margin: 50px auto;
    border: 10px solid #283618;
    border-radius: 20px;
}

.recipe1{
    display: flex;
    border: #283618 5px solid;
    padding: 40px;
    height: auto;
    
    
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    
}
.rightbox {
    position: relative;   /* REQUIRED */
    width: 200px;
    height: 200px;
    transition: all 1s ease 0s;
}

.rightbox img {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    transition: all 1s ease 0s;
}

.rightbox:hover {
    transform: scale(1.05);
}

.rightbox .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s ease;
    background-color: rgba(40, 54, 24, 0.8);
    border-radius: 20px;
}

.rightbox:hover .overlay {
    opacity: 1;
}
.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}









.divider{
    height: 2px;
    background-color: #283618;
    width: 100%;
  
}

