*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
    display: grid;
    padding: 4rem;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(1,1fr);
}

.item{
    background-color: rgb(45, 45, 100);
    border: 5px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

@media (min-width: 768px) {
    .container{
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(3,1fr);
    }
    .header{
    grid-column: 1 / span 3;
    background-color: rgb(45, 45, 100);
    border: 5px solid black;
    }
    .footer{
    grid-column: 1 / span 3;
    background-color: rgb(45, 45, 100);
    border: 5px solid black;
    }

    .sidebar{
        grid-row: 2 / span 2;
        background-color: rgb(45, 45, 100);
        border: 5px solid black;
    }
    .content1{
        grid-column: 2 / span 2;
        background-color: rgb(45, 45, 100);
        border: 5px solid black;
    }
}